<launch>
   <include file="$(find stretch_core)/launch/stretch_driver.launch"/>
   <arg name="node_start_delay" default="5.0" />
   <node pkg="rosservice" type="rosservice" name="nav" args="call /switch_to_navigation_mode" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
   <include file="$(find stretch_core)/launch/d435i_high_resolution.launch"/>
   <include file="$(find stretch_core)/launch/stretch_aruco.launch"/>
   <node pkg="drinking-for-pleasure" type="aruco_tag_locator.py" name="bottle_finder" output="screen"/>
</launch>
